.popup_main {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 670px;
    height: 430px;
    /* here */
    /* padding: 50px; */
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    /* background-image: url("../img/selector_01.png"); */
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

  
.popupActive {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}


  /* Add styles for the button */
     /* 位置 */
  #btn_01 {
    position: absolute;
    bottom: 50px;
    right: 110px;
  }
  #btn_04 {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 385px;
  }
  
  .btn-animate {
    position: absolute;
    /* bottom: 10px;
    right: 10px; */
    width: 130px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    background: #027efb;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .btn-animate__around {
    background: transparent;
    color: #027efb;
    position: relative;
  }
  .btn-animate__around svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .btn-animate__around rect {
    fill: none;
    stroke: #027efb;
    stroke-width: 3;
    stroke-dasharray: 422, 0;
    transition: all .5s linear;
  }
  .btn-animate__around:hover {
    font-weight: 600;
  }
  .btn-animate__around:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 260;
    stroke-dashoffset: 50%;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }

  /* img更换 */
  .popup_main_img_01 {
    background-image: url("../img/selector_01.png");
  }
  .popup_main_img_02 {
    background-image: url("../img/selector_02.png");
  }
  .popup_main_img_03 {
    background-image: url("../img/selector_03.png");
  }
  .popup_main_img_04 {
    background-image: url("../img/selector_04.gif");
  }
  .popup_main_img_05 {
    background-image: url("../img/selector_05.gif");
  }
  .popup_main_img_07 {
    background-image: url("../img/selector_07.png");
  }
  .popup_main_img_08 {
    background-image: url("../img/selector_08.gif");
  }
  .popup_main_img_09 {
    background-image: url("../img/selector_09.gif");
  }

  /* 加入中国元素 */

  .cn_element01 {
    background-image: url("../img/cn_element01.png");
  }
  .cn_element02 {
    background-image: url("../img/cn_element02.png");
  }
  .cn_element03 {
    background-image: url("../img/cn_element03.png");
  }
  .cn_element04 {
    background-image: url("../img/cn_element04.png");
  }
  .cn_element05 {
    background-image: url("../img/cn_element05.png");
  }