* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    background-image: url(../img/sky.png);
    overflow: hidden;
    min-width: 400px;
}
#exp_head {
    position: absolute;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    background: #6db8ff;
    box-shadow:  20px 20px 60px #5d9cd9,
             -20px -20px 60px #7dd4ff;
}
#exp_head_img {
    width: 300px;
    height: 100px;
    background-image: url('../img/exp_head_01.png');
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 130px;
    padding: 0 5%;
    color: cadetblue;
    font-size: 18px;
}
header .logo{
    margin-right: auto;
    width: 180px;
}
header .logo img {
    width: 100%;
}
header nav {
    display: flex;
    align-items: center;
}
header .menu {
    display: flex;
    align-items: center;
}
header nav .menu li a {
    position: relative;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 40px;
}
.home {
    padding: 0 5%;
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
.home .background .bkg_01,
.home .background .bkg_02,
.home .background .bkg_03,
.home .background .bkg_04,
.home .background .bkg_05,
.home .background .bkg_06,
.home .background .bkg_07,
.home .background .bkg_08 {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
}
.home .background .bkg_01 {
    background: url(../img/bkg_01.png);
    background-position: center;
    background-size: cover;
}
.home .background .bkg_02 {
    background: url(../img/bkg_02.png);
    background-position: center;
    background-size: cover;
}
.home .background .bkg_03 {
    background: url(../img/bkg_03.png);
    background-position: center;
    background-size: cover;
}
.home .background .bkg_04 {
    background: url(../img/bkg_04.png);
    background-position: center;
    background-size: cover;
}
.home .background .bkg_05 {
    background: url(../img/bkg_05.png);
    background-position: center;
    background-size: cover;
}
.home .background .bkg_06 {
    background: url(../img/bkg_06.png);
    background-position: center;
    background-size: cover;
}
.home .background .bkg_07 {
    background: url(../img/bkg_07.png);
    background-position: center;
    background-size: cover;
}
.home .background .bkg_08 {
    background: url(../img/bkg_08.png);
    background-position: center;
    background-size: cover;
}

